@import "tailwindcss";

@theme {
  --color-dark: #0f172a;
  --color-dark-card: #1e293b;
  --color-brand: #3b82f6;
}

body {
  background-color: var(--color-dark);
  color: #f8fafc;
  font-family: 'Inter', system-ui, sans-serif;
}